body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111111;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #111111;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
